<div class="card border-primary  mb-3">
  <div class="card-header text-primary">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Clientes</h5>

    <table class="table table-bordered border-primary">
      <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>email</th>
        <th>fecha</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createAt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
